* {
    /*border: 1px solid red;*/
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 200px;
}

.mainbox {
    border: 1px solid rgba(110, 110, 110, 0.363);
    border-radius: 5px;
    height: 350px;
    width: 477.5px;
}

.signin {
    padding-left: 20px;
}

.email {
    padding-left: 20px;
}

.emailword {
    margin-bottom: 0px;
}

.inputs {
    width: 430px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(110, 110, 110, 0.363);
}

.passwordtext {
    margin-top: 35px;
    margin-bottom: -35px;
}

.forgotpassword {
    margin-left: 300px;
    text-decoration: dashed;
    color: rgb(0, 119, 255);
}

.password {
    padding-left: 20px;
}

.continue {
    margin-top: 40px;
    width: 438px;
    height: 35px;
    background-color: rgb(247, 197, 72);
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgba(110, 110, 110, 0.363);
}

.needhelp {
    margin-left: 41.5%;
    text-decoration: dashed;
    color: rgb(0, 119, 255);
}

.newto {
    width: 100%; 
   text-align: center; 
   margin: 10px 0 20px; 
   color: rgb(110, 110, 110);
}

.newto:before{
    content:" ";
    display: block;
    height: 1px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 40px;
    background: rgba(110, 110, 110, 0.644);
}

.newto::after{
    content:" ";
    display: block;
    height: 1px;
    width: 130px;
    position: absolute;
    top: 50%;
    right: 40px;
    background: rgba(110, 110, 110, 0.644);
}

.createaccount {
    margin-top: -10px;
    width: 438px;
    height: 35px;
    background-color: rgb(200, 200, 200);
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgba(110, 110, 110, 0.363);
}

hr {
    margin-top: 20px;
    color: 1px solid rgba(110, 110, 110, 0.363);
}

footer {
    text-align: center;
    margin-top: 15px;
}

.links {
    margin-top: 50px;
    text-decoration: dashed;
    color: rgb(0, 119, 255);
    padding: 15px;
}